---
import styles from "@styles/Subscriber.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import ArrowBackIcon from "@icons/arrow_back_FILL0_wght400_GRAD0_opsz24.svg?react";
import InputPassword from "@components/InputPassword.astro";
import Banner from "@components/Banner.astro";
import { db } from "@config/apis";
import { hashPassword, validateCaptcha, validatePassword } from "@lib/util";
import { canSendEmail, sendChangePasswordNotification } from "@lib/email";
import InputCaptcha from "@components/InputCaptcha.astro";

const { origin, user, acc, ip } = Astro.locals;
if (await acc.isBanned()) return acc.toBan();
if (acc.needsToVerifyTotp()) return acc.toVerifyTotp();
if (!user) return acc.toLogin();
if (!user.email_verified) return acc.toVerifyEmail();

let success: string | undefined;
let error: string | undefined;

if (Astro.request.method === "POST")
  try {
    const data = await Astro.request.formData();
    const password = data.get("password")?.toString() || "";
    const captchaToken = data.get("g-recaptcha-response")?.toString();
    error =
      validatePassword(password) ||
      (await validateCaptcha(captchaToken, ip)) ||
      (await canSendEmail(user, user.email, ip));

    if (!error) {
      await db.query("UPDATE users SET password_hash = $1 WHERE id = $2;", [
        await hashPassword(password),
        user.id,
      ]);

      await sendChangePasswordNotification(origin, user, ip);
      success = "Your changes were saved.";
    }
  } catch (err) {
    console.error("caught err:");
    console.error(err);
  }
---

<MainLayout>
  <main class={styles.subscriberMain}>
    <h1 class="page-title sub">
      <a class="back-button" href="/pro/dashboard" set:html={ArrowBackIcon} />
      Change Password
    </h1>
    <Banner success={success} error={error} />
    <form
      id="changePassword"
      class:list={[styles.changeForm, styles.user]}
      method="post"
    >
      <input type="text" name="email" value={user.email} hidden />
      <label class={styles.manageField}>
        <div>New Password</div>
        <InputPassword id="password" name="password" validate />
      </label>
      <label class={styles.manageField}>
        <div>Confirm Password</div>
        <input
          type="text"
          id="confirmPassword"
          class={styles.prettyinput}
          name="password"
        />
      </label>
      <InputCaptcha />
      <input
        class={styles.prettySubmit}
        type="submit"
        value="Change Password"
      />
    </form>
  </main>
  <script>
    document.addEventListener("astro:page-load", () => {
      const form = document.querySelector<HTMLFormElement>("#changePassword");
      if (!form) return;
      const password = form.querySelector<HTMLInputElement>("#password")!;
      const confirmPassword =
        form.querySelector<HTMLInputElement>("#confirmPassword")!;
      form.addEventListener("submit", (event) => {
        if (password.value !== confirmPassword.value) {
          event.preventDefault();
          alert("Passwords do not match");
        }
      });
    });
  </script>
</MainLayout>
