---
import styles from "@styles/Subscriber.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import ArrowBackIcon from "@icons/arrow_back_FILL0_wght400_GRAD0_opsz24.svg?react";
import InputPassword from "@components/InputPassword.astro";
import Banner from "@components/Banner.astro";
import { db } from "@config/apis";
import {
  canSendEmail,
  hashPassword,
  sendChangePasswordNotification,
  validatePassword,
} from "@lib/util";

const { user, acc, ip } = Astro.locals;
if (await acc.isBanned()) return acc.toBan();
if (!user) return acc.toLogin();
if (!user.email_verified) return acc.toVerifyEmail();

let success: string | undefined;
let error: string | undefined;

if (Astro.request.method === "POST")
  try {
    const data = await Astro.request.formData();
    const password = data.get("password")?.toString() || "";
    error =
      validatePassword(password) || (await canSendEmail(user, user.email, ip));

    if (!error) {
      await db.query("UPDATE users SET password_hash = $1 WHERE id = $2;", [
        await hashPassword(password),
        user.id,
      ]);

      await sendChangePasswordNotification(user, ip);
      success = "Your changes were saved.";
    }
  } catch (err) {
    console.error("caught err:");
    console.error(err);
  }
---

<MainLayout>
  <main class={styles.subscriberMain}>
    <h1 class="page-title sub">
      <a class="back-button" href="/pro/dashboard" set:html={ArrowBackIcon} />
      Change Password
    </h1>
    <Banner success={success} error={error} />
    <form class:list={[styles.changeForm, styles.user]} method="post">
      <input type="text" name="email" value={user.email} hidden />
      <label class={styles.manageField}>
        <div>New Password</div>
        <InputPassword id="password" name="password" validate />
      </label>
      <label class={styles.manageField}>
        <div>Confirm Password</div>
        <input
          type="text"
          id="confirmPassword"
          class={styles.prettyinput}
          name="password"
        />
      </label>
      <input
        class={styles.prettySubmit}
        type="submit"
        value="Change Password"
      />
    </form>
  </main>
  <script>
    const password = document.querySelector<HTMLInputElement>("#password")!;
    const confirmPassword =
      document.querySelector<HTMLInputElement>("#confirmPassword")!;
    const form = document.querySelector<HTMLInputElement>("#form")!;
    form.addEventListener("submit", (event) => {
      if (password.value !== confirmPassword.value) {
        event.preventDefault();
        alert("Passwords do not match");
      }
    });
  </script>
</MainLayout>
