---
import styles from "@styles/Subscriber.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import InputPassword from "@components/InputPassword.astro";
import Banner from "@components/Banner.astro";
import ArrowBackIcon from "@icons/arrow_back_FILL0_wght400_GRAD0_opsz24.svg?react";
import { db } from "@config/apis";
import {
  m,
  hashPassword,
  validateEmail,
  validatePassword,
  validateCaptcha,
} from "@lib/util";
import {
  canSendEmail,
  generateVerificationSecret,
  sendPasswordVerification,
} from "@lib/email";
import InputCaptcha from "@components/InputCaptcha.astro";

const { user, ip, acc } = Astro.locals;
if (await acc.isBanned()) return acc.toBan();
if (acc.needsToVerifyTotp()) return acc.toVerifyTotp();
if (user) return acc.toDash();

let error: string | undefined;
let success: string | undefined;
let passwordReset = false;

const secret = Astro.url.searchParams.get("secret") || "";

const resetUser =
  secret === ""
    ? undefined
    : (
        await db.query<m.UserModel>(
          "SELECT * FROM users WHERE password_verification_secret = $1;",
          [secret]
        )
      ).rows[0];

if (secret && !resetUser) error = "The link you received is invalid.";

if (Astro.request.method === "POST")
  try {
    const data = await Astro.request.formData();
    error = undefined;

    if (secret && resetUser) {
      // resetUser exists and we're changing the password
      const password = data.get("password")?.toString() || "";
      const confirmPassword = data.get("confirm")?.toString();

      if (password !== confirmPassword) error = "Passwords are not the same.";

      if (!error) error = validatePassword(password);

      if (!error) {
        await db.query(
          "UPDATE users SET password_verification_secret = null, password_hash = $1 WHERE id = $2;",
          [await hashPassword(password), resetUser.id]
        );

        passwordReset = true;
        success = "Password changed!";
      }
    }
    // try to send password reset email
    else {
      const email = data.get("email")?.toString().trim() || "";
      const captchaToken = data.get("g-recaptcha-response")?.toString();
      error = validateEmail(email) || (await validateCaptcha(captchaToken, ip));

      if (!error) {
        const user = (
          await db.query<m.UserModel>("SELECT * FROM users WHERE email = $1;", [
            email,
          ])
        ).rows[0];

        if (user) {
          error = await canSendEmail(user, user.email, ip);

          if (!error) {
            const verificationSecret = generateVerificationSecret();
            await db.query(
              "UPDATE users SET password_verification_secret = $1 WHERE id = $2;",
              [verificationSecret, user.id]
            );
            await sendPasswordVerification(
              Astro.url.host,
              email,
              verificationSecret
            );
          }
        }

        // don't let them know if the email exists or not
        success =
          "If an account with that email exists, we sent instructions to reset your password to your inbox. If you don't receive it, check your spam filters and make sure you entered the email correctly.";
      }
    }
  } catch (err) {
    // @ts-ignore
    if (err?.code === "P2002") {
      error = "Email already exists.";
    } else {
      console.error("caught err:");
      console.error(err);
    }
  }
---

<MainLayout>
  <main class={styles.subscriberMain}>
    {
      secret && resetUser ? (
        <>
          <h1 class="page-title sub">Change your password</h1>
          <Banner success={success} error={error} />
          <p>Email: {resetUser.email}</p>
          <form class={styles.changeForm} method="post">
            <input type="text" name="email" value={resetUser.email} hidden />
            <label class={styles.manageField}>
              <div>Email</div>
              <InputPassword
                id="password"
                name="password"
                confirm="confirmPassword"
                validate
              />
            </label>
            <label class={styles.manageField}>
              <div>New Password</div>
              <InputPassword
                id="password"
                name="password"
                confirm="confirmPassword"
                validate
              />
            </label>
            <label class={styles.manageField}>
              <div>Confirm Password</div>
              <input
                type="password"
                id="confirmPassword"
                class={styles.prettyinput}
                name="confirm"
              />
            </label>
            <input
              type="submit"
              class={styles.prettySubmit}
              value="Change Password"
            />
          </form>
        </>
      ) : (
        <>
          <h1 class="page-title sub">
            <a
              class="back-button"
              href="/pro/signup"
              set:html={ArrowBackIcon}
            />
            Password Reset
          </h1>
          {passwordReset && (
            <p class="prettyBanner" data-success>
              Your password has been reset. You may now login with your new
              password. Click <a href="/pro/signup">here</a> to login.
            </p>
          )}
          <Banner success={success} error={error} />
          <form class={styles.userCard} method="post">
            <p>
              If you've forgotten your Holy Unblocker password, you can enter
              your account email here to start the reset process.
            </p>
            <label
              class="input"
              style={{ display: "block", marginBottom: "10px" }}
            >
              <div>Email</div>
              <input
                type="email"
                class:list={[styles.prettyinput, styles.code]}
                name="email"
              />
            </label>
            <InputCaptcha />
            <input class={styles.prettySubmit} type="submit" value="Reset" />
          </form>
        </>
      )
    }
  </main>
</MainLayout>
<script>
  import { validateEmail } from "@lib/validation";

  document.addEventListener("astro:page-load", () => {
    const email = document.querySelector<HTMLInputElement>("[name='email']");
    if (email === null) return;

    email.form!.addEventListener("submit", (event) => {
      const error = validateEmail(email.value.trim());

      if (error) {
        event.preventDefault();
        alert(error);
      }
    });
  });
</script>
