---
import styles from "@styles/Subscriber.module.scss";
import themeStyles from "@styles/ThemeElements.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import Banner from "@components/Banner.astro";
import ArrowBackIcon from "@icons/arrow_back_FILL0_wght400_GRAD0_opsz24.svg?react";
import Discord from "@icons/discord.svg?react";
import Arcade from "@icons/sports_esports_24dp_FILL1_wght400_GRAD0_opsz24.svg?react";
import Public from "@icons/public_24dp.svg?react";
import UltravioletIcon from "@icons/ultraviolet_icon.svg?react";
import DeviceHub from "@icons/device_hub_24dp_FILL0_wght400_GRAD0_opsz24.svg?react";
import ChatBot from "@icons/chatbot.svg?react";
import { createInvoice, MONTH } from "@lib/util";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";

const { user } = Astro.locals;

let error: string | undefined;

if (Astro.request.method === "POST")
  try {
    // const data = await Astro.request.formData();

    if (!user) {
      Astro.response.status = 400;
      error = "You need an account";
    } else if (!error)
      try {
        // create the invoice and redirect

        const invoice = await createInvoice(user, MONTH, 500);

        return Astro.redirect(`/pro/invoices/${invoice.id}`, 307);
      } catch (err) {
        console.error("STRIPE ERROR", err);
        Astro.response.status = 500;
        error = "We were unable to create an invoice!";
      }
  } catch (err) {
    console.error(err);
  }

const isPoor = Astro.url.searchParams.has("poor");

if (!error && isPoor) {
  error = "You need premium to access this feature.";
}
---

{isPoor && <script>history.pushState({}, "", "/pro/tiers")</script>}
<MainLayout>
  <main class={styles.pricing}>
    <div class:list={["page-title", styles.pageTitle]}>
      {
        user && (
          <a
            class="back-button"
            href="/pro/dashboard"
            set:html={ArrowBackIcon}
          />
        )
      }<HolyText text="Tiers" />
    </div>
    <Banner error={error} />
    <div class={styles.tierList}>
      <div>
        <HolyText class={styles.title} text="Free" />
        <HolyText class={styles.price} text="$0" />
        <HolyText class={styles.description} text="The essentials" />
        <div class={styles.features}>
          <div>
            <span class={styles.icon} set:html={Public} />
            <HolyText text="All Site Features" />
          </div>
          <div>
            <span class={styles.icon} set:html={UltravioletIcon} />
            <HolyText text="Ultraviolet" />
          </div>
          <div>
            <span class={styles.icon} set:html={Arcade} />
            <HolyText text="Arcade" />
          </div>
        </div>
        <form class={styles.buy}>
          <input
            type="submit"
            class={styles.prettySubmit}
            data-owned
            value="YOU HAVE THIS!"
            disabled
          />
        </form>
      </div>
      <div>
        <HolyText class={styles.title} text="Premium" />
        <HolyText class={styles.price} text="$5" />
        <HolyText class={styles.description} text="30 days of access" />
        <div class={styles.features}>
          <div>
            <HolyText text="All Free Perks!" />
          </div>
          <div>
            <span class:list={[styles.icon, styles.ai]} set:html={ChatBot} />
            <HolyText text="AI Chatbot" />
          </div>
          <div>
            <span class:list={[styles.icon, styles.disc]} set:html={Discord} />
            <HolyText text="Discord Role" />
          </div>
          <div>
            <span class={styles.icon} set:html={DeviceHub} />
            <HolyText text="Virtual Browser" />
          </div>
        </div>
        <form class={styles.buy} method="post">
          <input type="text" name="tier" value="1" hidden />
          <input
            type="submit"
            class={styles.prettySubmit}
            value="Buy"
            disabled={!user}
          />
        </form>
      </div>
    </div>
    <div class={styles.description}>
      {
        !user && (
          <>
            <p>
              <HolyText text="In order to subscribe, you need to create an account." />
            </p>
            <HolyLink href="/pro/">
              <button type="button" class={styles.prettySubmit}>
                <HolyText text="Create an account" />
              </button>
            </HolyLink>
          </>
        )
      }
      <p>
        <HolyText text="We use " /><HolyLink
          href="https://stripe.com/privacy"
          class={themeStyles.themeLink}
          text="Stripe"
        /><HolyText text=" and " /><HolyLink
          href="https://nowpayments.io/doc/privacy-policy.pdf"
          class={themeStyles.themeLink}
          text="NOWPayments"
        /><HolyText text=" for payment processing." />
      </p>
      <p>
        <HolyText text="If we suspect that you're violating our " />
        <HolyLink
          href="/terms"
          class={themeStyles.themeLink}
          text="Terms of Service"
        />
        , we will completely refund your payment and ban your account.
      </p>
    </div>
  </main>
</MainLayout>
