---
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import { appConfig } from "@config/config";

/*faq={["
{name: "What is Holy Unblocker's GitHub?",
	acceptedAnswer: {
	text: "https://github.com/holy-unblocker",
	},
}}
]}*/
---

<MainLayout title="Contact Us">
  <Fragment slot="head">
    <meta
      name="description"
      content="If you need help or need to contact Holy Unblocker, you can contact us here."
    />
  </Fragment>
  <main>
    <h1>Contact Us</h1>
    <table>
      <tbody>
        <tr>
          <td>GitHub:</td>
          <td>
            <a
              class={themeStyles.themeLink}
              href={appConfig.links.github.holyunblocker}
              set:text={appConfig.links.github.holyunblocker}
            />
          </td>
        </tr>
        {
          "supportEmail" in appConfig && (
            <tr>
              <td>Email:</td>
              <td>
                <a
                  class={themeStyles.themeLink}
                  href={"mailto:" + appConfig.supportEmail}
                  set:text={appConfig.supportEmail}
                />
              </td>
            </tr>
          )
        }
      </tbody>
      <p
        set:text="Please do not contact us from your school email! Although we try to read and respond to emails, we will simply ignore emails coming from student email addresses to avoid any legal problems."
      />
    </table>
  </main>
</MainLayout>
