---
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import { appConfig } from "@config/config";
import HolyLink from "@components/HolyLink.astro";
import HolyText from "@components/HolyText.astro";
---

<MainLayout title="Contact Us">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta
          name="description"
          content="If you need help or need to contact Holy Unblocker, you can contact us here."
        />
      </Fragment>
    )
  }
  <main class="padded">
    <h1><HolyText text="Contact Us" /></h1>
    <table>
      <tbody>
        <tr>
          <td><HolyText text="GitHub:" /></td>
          <td>
            <HolyLink
              class={themeStyles.themeLink}
              href={appConfig.links.github.holyunblocker}
              text={appConfig.links.github.holyunblocker}
            />
          </td>
        </tr>
        <tr>
          <td><HolyText text="Discord:" /></td>
          <td>
            <HolyLink
              class={themeStyles.themeLink}
              href={appConfig.links.discord.holyunblocker}
              text={appConfig.links.discord.holyunblocker}
            />
          </td>
          {
            "supportEmail" in appConfig && (
              <tr>
                <td>
                  <HolyText text="Email:" />
                </td>
                <td>
                  <HolyLink
                    class={themeStyles.themeLink}
                    href={"mailto:" + appConfig.supportEmail}
                    text={appConfig.supportEmail}
                  />
                </td>
              </tr>
            )
          }
        </tr>
        <p>
          <b
            ><HolyText
              text="Please do not contact us from your school email!"
            /></b
          >
        </p>
        <p>
          <HolyText
            text="Although we try to read and respond to emails, we will simply ignore emails coming from student email addresses to avoid any legal problems."
          />
        </p>
      </tbody>
    </table>
  </main>
</MainLayout>
