---
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import { appConfig } from "@config/config";
import HolyLink from "@components/HolyLink.astro";
---

<MainLayout title="Credits">
  <main>
    <h3>THANK YOU FOR SUPPORTING US :D</h3>

    <h2>Credits</h2>

    <h4>Operations</h4>

    <ul>
      <li>
        <HolyLink href="https://github.com/e9x" class={themeStyles.themeLink}
          >David</HolyLink
        >
        - Owner of Holy Unblocker, main developer
      </li>
      <li>Eli - CFO/NFT specialist</li>
    </ul>

    <h4>Sponsors</h4>

    <ul>
      <li>
        <a href="/pro/tiers" class={themeStyles.themeLink}
          >Premium Subscribers</a
        >
      </li>
      <li>
        <HolyLink href="https://github.com/z3db0y" class={themeStyles.themeLink}
          >z3db0y</HolyLink
        >
        - MASSIVE DONATOR :D
      </li>
      {
        !Astro.locals.isMainWebsite && (
          <>
            <li>
              <HolyLink
                href="https://www.my.gov.sa/wps/portal/snp/main?lang=en"
                class={themeStyles.themeLink}
              >
                The Kingdom of Saudi Arabia
              </HolyLink>
            </li>
            <li>
              <HolyLink
                href="https://www.mturk.com/"
                class={themeStyles.themeLink}
              >
                Jeff Bezos - Amazon Mechanical Turk/AI Chatbot
              </HolyLink>
            </li>
          </>
        )
      }
    </ul>

    <h4>Community</h4>
    <ul>
      <li>
        <HolyLink
          href={appConfig.links.discord.holyunblocker}
          class={themeStyles.themeLink}
          >Click to join our Discord server!</HolyLink
        >
      </li>
      <li>
        <HolyLink
          href="https://github.com/s1monlol"
          class={themeStyles.themeLink}>Simon</HolyLink
        > - Chat Mod, Professional Gambler
      </li>
      <li>
        <HolyLink
          href="https://github.com/Degen-dev"
          class={themeStyles.themeLink}>DG0Xe3</HolyLink
        > - Chat Mod, The Meal
      </li>
      <li>
        <HolyLink
          href="https://github.com/QuiteAFancyEmerald"
          class={themeStyles.themeLink}
          >Quite A Fancy Emerald
        </HolyLink> - Founder of Holy Unblocker
      </li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li>
        <HolyLink
          href="https://github.com/BinBashBanana"
          class={themeStyles.themeLink}>OlyB</HolyLink
        > - Creator of WebRetro
      </li>
      <li>
        <HolyLink
          href="https://github.com/caracal-js"
          class={themeStyles.themeLink}>sexyduceduce</HolyLink
        > - Creator of Ultraviolet
      </li>
      <li>
        <HolyLink
          href={appConfig.links.github.mercuryworkshop}
          class={themeStyles.themeLink}>Mercury Workshop</HolyLink
        > - Creators of Wisp
      </li>
      <li>
        <HolyLink
          href={appConfig.links.discord.titaniumnetwork}
          class={themeStyles.themeLink}>TitaniumNetwork</HolyLink
        > - Maintainers of Ultraviolet
      </li>
    </ul>
  </main>
</MainLayout>
