---
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import { appConfig } from "@config/config";
---

<MainLayout title="Credits">
  <main>
    <h3>THANK YOU FOR SUPPORTING US :D</h3>

    <h2>Credits</h2>

    <h4>Operations</h4>

    <ul>
      <li>
        <a href="https://github.com/e9x" class={themeStyles.themeLink}>David</a>
        - Owner of Holy Unblocker, main developer
      </li>
      <li>
        <a href="https://github.com/3kh0" class={themeStyles.themeLink}>3kh0</a>
        - Helping us with Stripe payment integration :D
      </li>
      <li>
        <a
          href="https://github.com/QuiteAFancyEmerald"
          class={themeStyles.themeLink}
          >Quite A Fancy Emerald
        </a> - Founder of Holy Unblocker
      </li>
      <li>Eli - CFO/NFT specialist</li>
    </ul>

    <h4>Sponsors</h4>

    <ul>
      <li>
        <a href="/pro/tiers" class={themeStyles.themeLink}
          >Premium Subscribers</a
        >
      </li>
      <li>
        <a href="https://github.com/z3db0y" class={themeStyles.themeLink}
          >z3db0y</a
        >
        - MASSIVE DONATOR :D
      </li>
      {
        !Astro.locals.isMainWebsite && (
          <>
            <li>
              <a
                href="https://www.my.gov.sa/wps/portal/snp/main?lang=en"
                class={themeStyles.themeLink}
              >
                The Kingdom of Saudi Arabia
              </a>
            </li>
            <li>
              <a href="https://www.mturk.com/" class={themeStyles.themeLink}>
                Jeff Bezos - Amazon Mechanical Turk/AI Chatbot
              </a>
            </li>
          </>
        )
      }
    </ul>

    <h4>Community</h4>
    <ul>
      <li>
        <a
          href={appConfig.links.discord.holyunblocker}
          class={themeStyles.themeLink}>Click to join our Discord server!</a
        >
      </li>
      <li>
        <a href="https://github.com/s1monlol" class={themeStyles.themeLink}
          >Simon</a
        > - Chat Mod, Professional Gambler
      </li>
      <li>
        <a href="https://github.com/Degen-dev" class={themeStyles.themeLink}
          >DG0Xe3</a
        > - Chat Mod, The Meal
      </li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li>
        <a href="https://github.com/BinBashBanana" class={themeStyles.themeLink}
          >OlyB</a
        > - WebRetro
      </li>
      <li>
        <a href="https://github.com/caracal-js" class={themeStyles.themeLink}
          >sexyduceduce</a
        > - Creator of Ultraviolet
      </li>
      <li>
        <a
          href={appConfig.links.github.mercuryworkshop}
          class={themeStyles.themeLink}>Mercury Workshop</a
        > - Creators of Wisp
      </li>
      <li>
        <a
          href={appConfig.links.discord.titaniumnetwork}
          class={themeStyles.themeLink}>TitaniumNetwork</a
        > - Maintainers of Ultraviolet
      </li>
    </ul>
  </main>
</MainLayout>
