---
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
---

<MainLayout title="Credits">
  <main>
    <h3>THANK YOU FOR SUPPORTING US :D</h3>

    <h2>Credits</h2>

    <h4>Operations</h4>

    <ul>
      <li>
        <a href="https://github.com/e9x" class={themeStyles.themeLink}>David</a>
        - Frontend/Backend Developer
      </li>
      <li>
        <a href="https://github.com/genericness" class={themeStyles.themeLink}
          >Akane</a
        > - Infrastructure, Finances, Backend Developer
      </li>
      <li>Eli - NFT/Bitcoin specialist</li>
    </ul>

    <h4>Sponsors</h4>

    <ul>
      <li>
        <a href="/sub/pricing" class={themeStyles.themeLink}>Our Subscribers!</a
        >
      </li>
      <li>
        <a href="https://github.com/z3db0y" class={themeStyles.themeLink}
          >z3db0y</a
        >
        - BALLER DONATOR, TY
      </li>
      {
        !Astro.locals.isMainWebsite && (
          <>
            <li>
              <a>The Kingdom of Saudi Arabia</a>
            </li>
            <li>Jeff Bezos - Server hosting</li>
          </>
        )
      }
    </ul>

    <h4>Development</h4>
    <ul>
      <li>sexyduceduce - Frontend Developer, Creator of Ultraviolet</li>
      <li>OlyB - Frontend Developer, WebRetro</li>
      <li>luphoria - Backend Developer</li>
      <li>Ender - Backend Developer</li>
      <li>011011000110111101101100 - Rammerhead</li>
    </ul>

    <h4>Community</h4>
    <ul>
      <li>Simon - CSGO Skin Gambling, Chat Moderator</li>
      <li>Incoming - Chat Moderator, Foreign Interpreter</li>
      <li>Degenerate - Unpaid Intern, Chat Moderator</li>
      <li>Aub - Community Manager</li>
    </ul>

    <h2>Proxy Scripts</h2>
    <ul>
      <li>
        Ultraviolet: <a
          href="https://github.com/titaniumnetwork-dev/Ultraviolet"
          title="Git repository"
          class={themeStyles.themeLink}
          >https://github.com/titaniumnetwork-dev/Ultraviolet</a
        >
      </li>
    </ul>
  </main>
</MainLayout>
