---
import themeStyles from "@styles/ThemeElements.module.scss";
import { appConfig } from "@config/config";
import MainLayout from "@layouts/MainLayout.astro";

const faq = [
  {
    title: "How can I self-host Holy Unblocker?",
    content: `You can self-host/deploy Holy Unblocker by using our [all-in-one script](${appConfig.links.github.websiteaio}).`,
  },
  {
    title: "How do I get more links?",
    content: `You can join the [TitaniumNetwork Discord Server](${appConfig.links.discord.titaniumnetwork}) to receive more links. In any channel, enter /proxy and select Holy Unblocker.`,
  },
  {
    title: "The proxy is slow.",
    content: `Our proxy servers are paid for by our subscribers. [You can see our subscription plans here.](/sub/pricing). If you subscribe, you can help us purchase faster servers in the future.`,
  },
  {
    title: "Where is this website's source code?",
    content: `The source code to this website can be found in our [Git repository](${appConfig.links.github.website}).`,
  },
  {
    title: "Is my information on the proxy secure?",
    content: `We do not collect any data, your information is only as secure as the sites you are accessing. For privacy concerns, you can review our [Privacy Policy](/privacy).`,
  },
];
---

<MainLayout title="FAQ">
  <Fragment slot="head">
    <meta
      name="description"
      content="Holy Unblocker's frequently asked questions."
    />
  </Fragment>
  <main>
    {
      faq.map(({ title, content }) => (
        <section>
          <h1 set:html={title} />
          <p
            set:html={content.replace(
              /\[(.*?)\]\((.*?)\)/g,
              (_, name, href) =>
                `<a href='${href}' class='${themeStyles.themeLink}'>${name}</a>`
            )}
          />
        </section>
      ))
    }
    <p style={{ marginTop: 30, opacity: 0.75 }}>
      Not what you're looking for? <a
        class={themeStyles.themeLink}
        href="/contact">Contact Us</a
      >.
    </p>
  </main>
</MainLayout>
