---
import MainLayout from "@layouts/MainLayout.astro";
import styles from "@styles/Home.module.scss";
import Underline from "@icons/underline.svg?svgmin";
import themeStyles from "@styles/ThemeElements.module.scss";
import ProxyOmnibox from "@components/ProxyOmnibox.astro";
import UltravioletIcon from "@icons/ultraviolet_icon.svg?react";
import HolyText from "@components/HolyText.astro";
---

<MainLayout title="Holy Unblocker">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta
          name="description"
          content="Holy Unblocker is a web proxy service with support for many sites. Unblock websites on Chromebooks at school and work for free!"
        />
      </Fragment>
    )
  }
  <main class={styles.main}>
    <div class={styles.title}>
      <span class={styles.big}
        ><HolyText text="Ending Internet" />
        <span class={styles.pretty}>
          <HolyText text="Censorship." />
          <Underline class={styles.prettyUnderline} />
        </span>
      </span>
      <h3 class={styles.small}>
        <HolyText text="Privacy right at your fingertips." />
      </h3>
    </div>
    <div class={styles.focus}>
      <button
        type="button"
        class:list={[themeStyles.ThemeButton, styles.button]}
        onclick="setNavExpanded(true)"
      >
        Get Started
      </button>
      <ProxyOmnibox searchEngine={Astro.locals.searchEngine} />
    </div>
    <a class={styles.poweredBy} href="/uv">
      <Fragment set:html={UltravioletIcon} />
      <span>Powered by <b><HolyText text="Ultraviolet" /></b></span>
    </a>
  </main>
</MainLayout>
