---
import themeStyles from "@styles/ThemeElements.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";
import { accountsEnabled } from "@config/apis";
---

<MainLayout title="Privacy Policy">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta name="description" content="Holy Unblocker's privacy policy." />
      </Fragment>
    )
  }
  <main class="padded">
    <h1><HolyText text="Privacy Policy" /></h1>
    <p>
      <HolyText
        text="Holy Unblocker does not log any user traffic or collect user information without consent."
      />
    </p>
    <h2><HolyText text="Cookie Policy" /></h2>
    <p>
      <HolyLink href="/cookies" class={themeStyles.themeLink}
        >You can find our cookie policy here.</HolyLink
      >
    </p>
    <h2><HolyText text="Data Collection" /></h2>
    <p>
      <HolyText
        text="We use our own analytics service to collect information about your use of our website, such as the timestamps of pages accessed and internet protocol (IP) addresses. This information is used for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. We do not collect any personal data, and any information collected is not linked to personally identifiable information."
      />
    </p>
    <p>
      <HolyText
        text="Holy Unblocker is COPPA compliant. We do not willingly collect personally identifiable information about anyone who is under 13."
      />
    </p>
    <p>
      <HolyText
        text="We take the protection of your data seriously and implement appropriate measures to secure any information we collect. If you would like any information to be removed, please"
      />
      <HolyLink
        class={themeStyles.themeLink}
        href="/contact"
        text="Contact Us"
      />
      <HolyText
        text=" to remove your data and we will promptly comply with your request."
      />
    </p>
    {
      accountsEnabled && (
        <>
          <h2>
            <HolyText text="Holy Unblocker Premium" />
          </h2>
          <p>
            <HolyText text="In order to create a Holy Unblocker Premium account, you need to be at least 13 years old. By signing up to Holy Unblocker Premium, you agree to let us collect the following information:" />
          </p>
          <ul>
            <li>
              <HolyText text="email address" />
            </li>
            <li>
              <HolyText text="crytographic hash of your password" />
            </li>
            <li>
              <HolyText text="signup IP address" />
            </li>
            <li>
              <HolyText text="a record of invoices" />
            </li>
          </ul>
          <h2>
            <HolyText text="Partners" />
          </h2>
          <p>
            <HolyText text="We use " />
            <HolyLink
              href="https://stripe.com/privacy"
              class={themeStyles.themeLink}
              text="Stripe"
            />
            <HolyText text=" and " />
            <HolyLink
              href="https://nowpayments.io/doc/privacy-policy.pdf"
              class={themeStyles.themeLink}
              text="NOWPayments"
            />
            <HolyText text=" for payment processing." />
          </p>
        </>
      )
    }
    <h2><HolyText text="Services" /></h2>
    <p>
      <HolyText
        text="By using the Ultraviolet feature of Holy Unblocker, your browser automatically creates a secure tunnel to the destination server using the Wisp protocol."
      />
    </p>
    <p>
      <HolyText
        text="User data that is sent to Holy Unblocker is encrypted in transit using HTTPS. However, data that you send over Ultraviolet is not exactly the same."
      />
    </p>
    <p>
      <HolyText
        text="Ultraviolet uses the Wisp protocol to connect to our VPN servers. Think of Wisp as a VPN that works in your browser."
      />
    </p>
    <p>
      <HolyText
        text="Information that may be seen by Wisp is the same as your ISP:"
      />
    </p>
    <ul>
      <li>
        <HolyText
          text="If the destination website you're accessing over our VPN does not support HTTPS, and instead only supports HTTP, your cookies, headers, credentials, and any data you upload "
        />
        <b><HolyText text="won't be encrypted" /></b>.
      </li>
      <li>
        <HolyText
          text="The IP address of any website you connect to can be seen."
        />
      </li>
      <li>
        <HolyText
          text="Websites that do enable HTTPS won't leak any of the above, and are fully end to end encrypted, however it is still possible for the site your reaching to be identified through "
        />
        <HolyLink
          href="https://www.cloudflare.com/learning/ssl/what-is-sni/"
          text="Server Name Indication"
          class={themeStyles.themeLink}
        />
      </li>
    </ul>
    <p>
      <HolyText
        text="If you have any questions about our Privacy Policy, please "
      />
      <HolyLink
        class={themeStyles.themeLink}
        href="/contact"
        text="Contact Us."
      />
    </p>
  </main>
</MainLayout>
