---
import { appConfig } from "@config/config";
import ProxyOmnibox from "@components/ProxyOmnibox";
import styles from "@styles/Proxy.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import ClientAPIs from "@components/ClientAPIs.astro";
import ServiceFrame from "@components/ServiceFrame.astro";

/*const ProxyMeta = () => (
  <Meta
    title="Proxy"
    description="Bypass blocks on your internet traffic with Holy Unblocker's web proxy."
    faq={[
      {
        name: "What web proxies does Holy Unblocker have?",
        acceptedAnswer: {
          text: "Ultraviolet and Rammerhead. You can change the default proxy in your settings.",
        },
      },
    ]}
    actions={[
      {
        target: {
          urlTemplate:
            new URL(getHot("proxy").path, globalThis.location.toString()) +
            "?q={search_term_string}",
        },
        "query-input": "required name=search_term_string",
      },
    ]}
  />
);*/
---

<MainLayout title="Proxy">
  <Fragment slot="head">
    <meta
      name="description"
      content="Bypass blocks on your internet traffic with Holy Unblocker's web proxy."
    />
  </Fragment>
  <main class={styles.main}>
    <ClientAPIs />
    <h1 class={styles.title}>Ultraviolet</h1>
    <ServiceFrame />
    <ProxyOmnibox searchEngine={Astro.locals.searchEngine} client:load />
    <p>
      If you're having issues with the proxy, try troubleshooting your problem
      by looking at the <a href="/faq">FAQ</a>.
    </p>
    <p>
      This is a free service paid for by our Patreons. If you want to help us
      maintain our servers and get access to exclusive features, <a
        class={themeStyles.themeLink}
        href="/sub/pricing">subscribe to Holy Unblocker</a
      >.
    </p>
    <p>
      <a
        class={themeStyles.themeLink}
        href={appConfig.links.discord.holyunblocker}
        >Join the TitaniumNetwork Discord</a
      > for access to more Holy Unblocker links.
    </p>
  </main>
</MainLayout>
