---
import { appConfig } from "@config/config";
import ProxyOmnibox from "@components/ProxyOmnibox.astro";
import styles from "@styles/Proxy.module.scss";
import MainLayout from "@layouts/MainLayout.astro";
import themeStyles from "@styles/ThemeElements.module.scss";
import HolyText from "@components/HolyText.astro";
import HolyLink from "@components/HolyLink.astro";

/*const ProxyMeta = () => (
  <Meta
    title="Proxy"
    description="Bypass blocks on your internet traffic with Holy Unblocker's web proxy."
    faq={[
      {
        name: "What web proxies does Holy Unblocker have?",
        acceptedAnswer: {
          text: "Ultraviolet and Rammerhead. You can change the default proxy in your settings.",
        },
      },
    ]}
    actions={[
      {
        target: {
          urlTemplate:
            new URL(getHot("proxy").path, globalThis.location.toString()) +
            "?q={search_term_string}",
        },
        "query-input": "required name=search_term_string",
      },
    ]}
  />
);*/
---

<MainLayout title="Proxy">
  {
    Astro.locals.isMainWebsite && (
      <Fragment slot="head">
        <meta
          name="description"
          content="Bypass blocks on your internet traffic with Holy Unblocker's web proxy."
        />
      </Fragment>
    )
  }
  <main>
    <div class={styles.content}>
      <h1 class={styles.title}><HolyText text="Ultraviolet" /></h1>
      <ProxyOmnibox searchEngine={Astro.locals.searchEngine} />
      <p>
        <HolyText
          text="If you're having issues with the proxy, try troubleshooting your problem by looking at the"
        />
        <HolyLink class={themeStyles.themeLink} href="/faq" text="FAQ" />.
      </p>
      <p>
        <HolyText text="Ultraviolet is" />
        <HolyLink
          class={themeStyles.themeLink}
          href={appConfig.links.github.ultraviolet}
          text="open source"
        />
        <HolyText
          text="proxy software that lets you browse the internet and bypass your network firewall."
        />
      </p>
      <p>
        <HolyText
          text="Our servers are paid for by our supporters. If you want to help us maintain our servers and get access to exclusive features, consider subscribing to our"
        />
        <HolyLink href={appConfig.links.patreon.holyunblocker} text="Patreon"
          >.
        </HolyLink>
        <p>
          <HolyLink
            class={themeStyles.themeLink}
            href={appConfig.links.discord.holyunblocker}
            text="Join the Holy Unblocker Discord"
          />
          <HolyText
            text="to talk to the community and gain access to more links."
          />
        </p>
      </p>
    </div>
  </main>
</MainLayout>
