---
import themeStyles from "@styles/ThemeElements.module.scss";
// a really simple wrapper wrapper for the prettybanner element
// part of the subscriber css

interface Props {
  error?: string;
  success?: string;
}

const { error, success } = Astro.props;

function markdown(content: string) {
  return content.replace(
    /\[(.*?)\]\((.*?)\)/g,
    (_, name, href) =>
      `<a href='${href}' class='${themeStyles.themeLink}'>${name}</a>`
  );
}
---

{
  success && (
    <p class="prettyBanner" data-success set:text={markdown(success)} />
  )
}
{error && <p class="prettyBanner" data-error set:html={markdown(error)} />}
