---
import { appConfig } from "@config/config";
---

<div
  id="apis"
  data-wisp={appConfig.separateWispServer ||
    "%{location.wsprotocol}//%{location.host}/wisp/"}
>
</div>
<script src="/epoxy/index.js" is:inline async></script>
<script src="/uv/uv.bundle.js" is:inline></script>
<script src="/uv/uv.config.js" is:inline></script>
<script>
  const apis = document.querySelector("#apis")!;

  window.wisp_api = format(apis.getAttribute("data-wisp")!);

  function format(env: string) {
    const { host, hostname, protocol } = globalThis.location;

    return env
      .replace("%{location.host}", host)
      .replace("%{location.hostname}", hostname)
      .replace("%{location.protocol}", protocol)
      .replace(
        "%{location.wsprotocol}",
        protocol === "https:" ? "wss:" : "ws:"
      );
  }
</script>
