---
import themeStyles from "@styles/ThemeElements.module.scss";

interface Props {
  cause?: string | null;
  error: string;
  message: string;
}
---

<main class="error">
  <p>{Astro.props.message}:</p>
  {
    Astro.props.cause ? (
      <>
        <pre>{Astro.props.cause}</pre>
        <pre>{Astro.props.error}</pre>
      </>
    ) : (
      <pre>{Astro.props.error}</pre>
    )
  }
  <p>
    <span class={themeStyles.themeLink} onclick="location.reload()">
      Try again by clicking here.
    </span>
    <br />
    If this problem still occurs, check our{" "}
    <a class={themeStyles.themeLink} href="/faq" target="_parent"> FAQ </a>{" "}
    or{" "}
    <a class={themeStyles.themeLink} href="/contact" target="_parent">
      Contact Us
    </a>
    .
  </p>
</main>
