---
import themeStyles from "@styles/ThemeElements.module.scss";
import Waves from "@icons/waves.svg?svgmin";
import styles from "@styles/Footer.module.scss";
import HolyText from "./HolyText.astro";
import HolyLink from "./HolyLink.astro";

const linkCSS = [themeStyles.themeLink, styles.footerLink];
---

<footer class={styles.footer}>
  <Waves />
  <div class={styles.background}>
    <div class={styles.content}>
      <HolyLink class:list={linkCSS} href="/contact">Contact</HolyLink>
      <HolyLink class:list={linkCSS} href="/credits">Credits</HolyLink>
      <HolyLink class:list={linkCSS} href="/privacy">Privacy</HolyLink>
      <HolyLink class:list={linkCSS} href="/terms">
        <span class={styles.long}>Terms of Use</span>
        <span class={styles.short}>Terms</span>
      </HolyLink>
      <div class:list={linkCSS}>
        &copy; <HolyText text="Holy Unblocker" />
        {new Date().getUTCFullYear()}
      </div>
    </div>
  </div>
</footer>
