---
import styles from "@styles/Navigation.module.scss";

type Props = Record<string, any> & {
  href?: string;
  class?: string;
  name: string;
  iconFilled: string;
  iconOutlined?: string;
  tabIndex?: number;
  isNew?: boolean;
};

const { href, name, iconFilled, iconOutlined, isNew } = Astro.props;

const selected = Astro.url.pathname === href;
---

<a
  href={href}
  data-selected={selected || undefined}
  class:list={[styles.entry]}
  onclick="setNavExpanded(false)"
  title={name}
>
  <span
    class={styles.icon}
    set:html={(selected && iconFilled) || iconOutlined || iconFilled}
  />
  <span class={styles.name}>{name}</span>
  {isNew && <span class={styles.new}>new</span>}
</a>
