---
import themeStyles from "@styles/ThemeElements.module.scss";
import appDefs from "@icons/appDefs.svg?react";
import styles from "@styles/ProxyOmnibox.module.scss";
---

<div class:list={[styles.omnibox, styles.theatreSearch]} id="theatreSearchBar">
  <div class={`${themeStyles.ThemeInputBar} ${styles.inputBar}`}>
    <form>
      <input
        type="text"
        class={themeStyles.thinPadRight}
        required
        placeholder="Search by game name"
      />
    </form>
    <button class={styles.clearButton} id="searchClear">
      <svg>
        <use href="#clearButton"></use>
      </svg>
    </button>
    <button class={styles.searchButton} id="searchIcon">
      <svg>
        <use href="#searchGlass"></use>
      </svg>
    </button>
  </div>
  <div class={styles.suggested} id="theatreSuggest"></div>
</div>
<Fragment set:html={appDefs} />
<script>
  import { getClientTheatreAPI } from "@lib/renderTheatre";
  import { renderSearchResult } from "@lib/searchResult";
  import { navigate } from "astro:transitions/client";

  const theatreAPI = getClientTheatreAPI();
  const LIMIT = 8;

  function entryClick(this: HTMLDivElement) {
    navigate(this.getAttribute("data-href")!);
  }

  function renderTheatreSearchResult(
    result: string,
    query: string,
    id: string | null,
    categories: string[] | null
  ) {
    const e = renderSearchResult(result, query, categories);
    const href = id === null ? `/hub/?q=${result}` : `/hub/?v=${id}`;
    e.setAttribute("data-href", href);
    e.addEventListener("mousedown", entryClick);
    e.addEventListener("touchstart", entryClick);
    return e;
  }

  document.addEventListener("astro:page-load", () => {
    const form = document.querySelector<HTMLFormElement>("#theatreSearchBar")!;
    if (!form) return;
    const suggest = document.querySelector<HTMLDivElement>("#theatreSuggest")!;
    const inputBar = form.querySelector<HTMLInputElement>("input")!;

    let inputFocused = false;
    let resultIndex = -1;

    window.setInputFocused = (newValue: boolean) => {
      inputFocused = newValue;
      resultIndex = -1;
      if (inputFocused) {
        searchTheatre(inputBar.value);
        form.setAttribute("data-focused", "");
        document.documentElement.setAttribute("data-omnibox-focused", "");
      } else {
        inputBar.blur();
        suggest.innerHTML = "";
        form.removeAttribute("data-focused");
        form.removeAttribute("data-suggested");
        document.documentElement.removeAttribute("data-omnibox-focused");
      }
    };

    form.addEventListener("blur", () => {
      setInputFocused(false);
    });

    let searchAbort = new AbortController();

    async function searchTheatre(query: string) {
      const suggest =
        document.querySelector<HTMLDivElement>("#theatreSuggest")!;
      searchAbort.abort("aborted autocomplete request because of a user input");
      searchAbort = new AbortController();

      suggest.innerHTML = "";

      if (query !== "") {
        suggest.append(renderTheatreSearchResult(query, query, null, null));
        form.setAttribute("data-suggested", "");
      } else form.removeAttribute("data-suggested");

      // if (query === lastQuery) return;
      // lastQuery = query;

      const listResults = await theatreAPI.list(
        {
          search: query,
          limit: LIMIT,
        },
        searchAbort.signal
      );

      for (const res of listResults.entries) {
        const cont = document.createElement("a");
        cont.href = "/theatre/?v=" + res.id;
      }

      //.. get additional results?

      // the input bar may have lost focus by the time this code is reached
      if (inputFocused) {
        for (const res of listResults.entries)
          suggest.append(
            renderTheatreSearchResult(res.name, query, res.id, res.category)
          );
        form.setAttribute("data-suggested", "");
      }
    }

    // let lastQuery: string | undefined;

    inputBar.addEventListener("focus", () => {
      setInputFocused(true);
    });

    inputBar.addEventListener("blur", () => {
      setInputFocused(false);
    });

    const submitSearchBar = () => {
      setInputFocused(false);
      const entry = suggest.children[resultIndex] as HTMLAnchorElement;
      if (entry === undefined) {
        if (inputBar.value === "") return;
        navigate("/hub/?q=" + encodeURIComponent(inputBar.value));
      } else {
        navigate(entry.getAttribute("data-href")!);
      }
    };

    inputBar.form!.addEventListener("submit", (event) => {
      event.preventDefault();
      submitSearchBar();
    });

    function updateResults() {
      for (let i = 0; i < suggest.children.length; i++) {
        const e = suggest.children[i];
        if (i === resultIndex) e.setAttribute("data-hover", "");
        else e.removeAttribute("data-hover");
      }
    }

    // up down arrows to navigate entries
    // and redirect to game or 404 when entered is pressed
    inputBar.addEventListener("keydown", (event) => {
      switch (event.code) {
        case "Escape":
          setInputFocused(false);
          break;
        case "ArrowDown":
          event.preventDefault();
          if (resultIndex === suggest.children.length - 1) resultIndex = 0;
          else resultIndex++;
          updateResults();
          break;
        case "ArrowUp":
          event.preventDefault();
          if (resultIndex <= 0) resultIndex = suggest.children.length - 1;
          else resultIndex -= 1;
          updateResults();
          break;
        case "Enter":
          event.preventDefault();
          event.stopImmediatePropagation();
          submitSearchBar();
          break;
      }
    });

    inputBar.addEventListener("input", () => {
      if (inputBar.value === "") form.removeAttribute("data-text");
      else form.setAttribute("data-text", "");
      searchTheatre(inputBar.value);
    });

    const searchClear = form.querySelector<HTMLButtonElement>("#searchClear")!;

    searchClear.addEventListener("click", (event) => {
      event.preventDefault();
      console.trace("what the fuc,", event);
      inputBar.value = "";
      form.removeAttribute("data-text");
      setInputFocused(true);
      inputBar.focus();
    });

    // allow clicking da icon
    const searchIcon = form.querySelector<HTMLButtonElement>("#searchIcon")!;

    searchIcon.addEventListener("click", (event) => {
      event.preventDefault();
      submitSearchBar();
    });

    setInputFocused(false);
  });
</script>
