---
import styles from "@styles/TheatreCategory.module.scss";
import HolyText from "./HolyText.astro";

interface Props {
  id: string;
  name: string;
}
---

<a
  class={styles.item}
  href={`/hub/?v=${Astro.props.id}`}
  title={Astro.props.name}
  data-item
  data-load
  data-astro-prefetch="false"
>
  <div class={styles.thumbnail}>
    <img
      alt=""
      loading="lazy"
      onload="this.parentNode.parentNode.removeAttribute('data-load')"
      src={`/cdn/thumbnails/${Astro.props.id}.webp`}
    />
  </div>
  <div class={styles.name}><HolyText text={Astro.props.name} /></div>
</a>
