---
import "@fontsource/lato";
import "@fontsource/lato/700.css";
import "@fontsource/montserrat-alternates";
import "@styles/root.scss";
import "@styles/theme.scss";
import HatBeta from "@icons/hat-beta.svg?react";
import HatDev from "@icons/hat-dev.svg?react";
import HatPlain from "@icons/hat.svg?react";
import categories from "@lib/gameCategories";
import styles from "@styles/Navigation.module.scss";
import Menu from "@icons/menu_24dp.svg?svgmin";
import Settings from "@icons/settings_24dp.svg?svgmin";
import HomeOutlined from "@icons/home_24dp_outlined.svg?react";
import Home from "@icons/home_24dp.svg?react";
import UltravioletIcon from "@icons/ultraviolet_icon.svg?react";
import ChatBot from "@icons/chatbot.svg?react";
import QuestionMark from "@icons/question_mark_24dp.svg?react";
import Apps from "@icons/apps_24dp.svg?react";
import StarOutline from "@icons/star_outline_24dp.svg?react";
import DeviceHub from "@icons/device_hub_24dp_FILL0_wght400_GRAD0_opsz24.svg?react";
import Star from "@icons/star_24dp.svg?react";
import List from "@icons/list_24dp.svg?react";
import luv from "@icons/favorite_24dp.svg?react";
import Leaderboard from "@icons/leaderboard_24dp_FILL1_wght400_GRAD0_opsz24.svg?react";
import SortRounded from "@icons/sort_24dp.svg?react";
import MenuTab from "@components/MenuTab.astro";
import Footer from "@components/Footer.astro";
import { stripeEnabled } from "@config/apis";

function Hat() {
  switch (import.meta.env.VITE_HAT_BADGE) {
    case "DEV":
      return HatDev;
    case "BETA":
      return HatBeta;
    default:
      return HatPlain;
  }
}

interface Props {
  title?: string; // page title - will be overwritten by cloak
}

const { title } = Astro.props;
const { cloak } = Astro.locals;
---

<html lang="en" data-theme={Astro.locals.theme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
    <link
      rel="shortcut icon"
      href={cloak
        ? cloak.icon === ""
          ? "data:,"
          : "/api/cloakicon?" + encodeURIComponent(cloak.icon)
        : "/favicon.ico"}
    />
    {
      (cloak && <title set:text={cloak.title} />) ||
        (title && <title set:text={title} />)
    }
  </head>
  <body>
    <script src="@lib/themeClient.ts"></script>
    <script src="@lib/nav.ts"></script>
    <nav class={styles.nav}>
      <button class={styles.button} id="toggle-nav">
        <Menu class="icon" />
      </button>
      <a
        href="/"
        class:list={[styles.entry, styles.logo]}
        title="Home"
        set:html={Hat()}
      />
      <div class={styles.shiftRight}></div>
      {
        /*user ? (
          <a href="/sub/dashboard">Dashboard</a>
        ) : (
          <a href="/sub/">not logged in</a>
        )*/
      }
      {
        /* we want the user to tab into the button, not the link so it looks right */
      }
      <a href="/settings/appearance" title="Home" tabindex="-1">
        <button class={styles.button}>
          <Settings class="icon" />
        </button>
      </a>
    </nav>
    <div class={styles.content}>
      <div tabindex="-1" class:list={[styles.cover, "menuitem"]}></div>
      <div class={styles.menu}>
        <div class={styles.top}>
          <div class:list={[styles.button, "menuitem"]}>
            <Menu class="icon" />
          </div>
          <a
            href="/"
            class:list={[styles.entry, "menuitem", styles.logo]}
            title="Home"
            set:html={Hat()}
          />
        </div>
        <div class={styles.menuList}>
          <MenuTab
            href="/"
            name="Home"
            iconFilled={Home}
            iconOutlined={HomeOutlined}
          />
          <MenuTab
            href="/proxy"
            name="Ultraviolet"
            iconFilled={UltravioletIcon}
          />
          <MenuTab href="/faq" name="FAQ" iconFilled={QuestionMark} />

          {
            stripeEnabled && (
              <>
                <div class={styles.bar} />
                <MenuTab href="/sub/" name="Subscribe" iconFilled={luv} />
                <MenuTab
                  href="/sub/vm"
                  name="Virtual Browser"
                  iconFilled={DeviceHub}
                />
                <MenuTab href="/sub/ai" name="Chat Bot" iconFilled={ChatBot} />
                <MenuTab
                  href="/sub/pricing"
                  name="Pricing"
                  iconFilled={Leaderboard}
                />

                <div class={styles.bar} />
              </>
            )
          }

          <MenuTab href="/theatre/apps" name="Apps" iconFilled={Apps} />

          <MenuTab
            href="/theatre/favorites"
            name="Favorites"
            iconFilled={Star}
            iconOutlined={StarOutline}
          />

          <div class={styles.bar}></div>

          <div class={styles.title}>Arcade</div>

          <MenuTab href="/theatre/" name="Popular" iconFilled={SortRounded} />
          <MenuTab href="/theatre/all" name="All" iconFilled={List} />
          <div class={styles.title}>Genre</div>
          <div class={styles.genres}>
            {
              categories.map((category) => (
                <a
                  href={`/theatre/${category.id}`}
                  title={category.name}
                  class:list={[styles.entry, "menuitem", styles.text]}
                >
                  {category.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <slot />
      <Footer />
    </div>
  </body>
</html>
