---
import MainLayout from "@layouts/MainLayout.astro";
import styles from "@styles/Settings.module.scss";
import Brush from "@icons/brush_24dp.svg?react";
import BrushOutlined from "@icons/brush_24dp_outline.svg?react";
import DriveFileRenameOutline from "@icons/drive_file_rename_outline_24dp.svg?react";
import Public from "@icons/public_24dp.svg?react";
import SettingsMenuTab from "@components/SettingsMenuTab.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<MainLayout title={title}>
  <Fragment slot="head"
    ><slot name="head" />
    <ViewTransitions />
  </Fragment>
  <main class={styles.main}>
    <div class={styles.menu}>
      <SettingsMenuTab
        href="/settings/appearance"
        name="Appearance"
        iconFilled={Brush}
        iconOutlined={BrushOutlined}
      />
      <SettingsMenuTab
        href="/settings/proxy"
        name="Proxy"
        iconFilled={Public}
      />
      <SettingsMenuTab
        href="/settings/tabcloak"
        name="Tab Cloak"
        iconFilled={DriveFileRenameOutline}
      />
    </div>
    <slot />
  </main>
</MainLayout>
