---
// popular games

import TheatreSearchBar from "@components/TheatreSearchBar";
import themeStyles from "@styles/ThemeElements.module.scss";
import categories from "@lib/gameCategories";
import type { Category } from "@lib/gameCategories";
import styles from "@styles/TheatreCategory.module.scss";
import ArrowForward from "@icons/arrow_forward_24dp.svg?svgmin";
import MainLayout from "@layouts/MainLayout.astro";
import { dbEnabled, theatreAPI, theatreAPIMirror } from "@lib/theatre";
import type { CategoryData, TheatreEntryMin } from "@lib/TheatreAPI";
import LoadingItem from "@components/LoadingItem.astro";

const entryLimit = 8;

const categoryQuery = categories.map((category) => category.id).join(",");

let mirrorError = false;

let data: CategoryData | undefined;

if (dbEnabled) {
  data = await theatreAPI.list({
    sort: "plays",
    category: categoryQuery,
    limitPerCategory: entryLimit,
  });
} else
  try {
    data = await theatreAPIMirror.category({
      sort: "plays",
      category: categoryQuery,
      limitPerCategory: entryLimit,
    });
  } catch (err) {
    mirrorError = true;
    console.error(err);

    // refresh after 5 seconds
    Astro.response.headers.set("reload", "5");
    Astro.response.status = 500;
  }

const _categories: Record<
  string,
  { entries: TheatreEntryMin[]; category: Category }
> = {};

for (const category of categories)
  _categories[category.id] = {
    entries: [],
    category: category,
  };

if (data)
  for (const item of data.entries)
    _categories[item.category[0]].entries.push(item);
---

<MainLayout title="Popular Games">
  {
    mirrorError ? (
      <main>
        <p>An error occurred while trying to access the theatre API mirror.</p>
        <p>This page will refresh in 5 seconds.</p>
      </main>
    ) : (
      <>
        {Astro.locals.isMainWebsite && (
          <Fragment slot="head">
            <meta
              name="description"
              content="Popular games on Holy Unblocker."
            />
          </Fragment>
        )}
        <main class={styles.main}>
          <TheatreSearchBar
            showCategory
            category={categoryQuery}
            placeholder="Search by game name"
            client:load
          />
          {Object.values(_categories).map((section) => (
            <section class={styles.expand}>
              <div class={styles.name}>
                <h1>{section.category.name}</h1>
                <a
                  class={themeStyles.themeLink}
                  href={`/theatre/${section.category.id}`}
                  class={styles.seeAll}
                >
                  See All
                  <ArrowForward />
                </a>
              </div>
              <div class:list={[styles.items, styles.flex]}>
                {section.entries.map((e) => (
                  <LoadingItem name={e.name} id={e.id} />
                ))}
              </div>
            </section>
          ))}
        </main>
      </>
    )
  }
</MainLayout>
